/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&display=swap');

/* RESETEO CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS GENERALES */

/* html {
    scroll-behavior: smooth;
} */

html {
    font-size: 1em;
}

.imgRedonda {
    border-radius: 50%;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.lora {
    font-family: 'Lora', serif;
}

.textoSombra {
    text-shadow: 0 0 5px #000;
}

/* .bordeSombra{

} */

li {
    display: inline-block;
}

/* CSS PAGINAS GENERAL */

.colorFondo {
    background-color: #FBEDED;
}

.subir {
    height: 30px;
    width: auto;
    color: #FBEDED;
    background-color: #405944;
    border-radius: 50%;
    padding: 5px;
    position: fixed;
    bottom: 50px;
    right: 40px;
    text-align: center;
    line-height: 40px;
}

.subir:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

/* CSS PARA INICIO */

#inicioFondo {
    background-color: #FBEDED;
    background-image: url(../assets/inicio/inicio-embarazada-hija-blur.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.inicioMain {
    background-color: #405944b2;
    width: fit-content;
    padding-block: 20px;
    padding-inline: 60px;
    border-radius: 15px;
}

.inicioLi{
    background-color: #405944b2;
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 5px;
}

.imgInicio {
    height: 10em;
    width: auto;
}

nav ul li a {
    list-style-type: none;
    text-decoration: none;
    color: #405944;
    /* font-family: 'Courier New', Courier, monospace;  */
}

/* CSS BARRA DE NAVEGACION PAGINAS */

#colorHeader {
    background-color: #55735F;
}

.imgHeader {
    height: 5em;
    width: auto;
}

.stickyHeader {
    position: sticky;
    top: 0;
}

/* CSS FOOTER */

/* #footer nav a {
    text-align: center;
    background-color: #403A3A;
    border-radius: 50%;
} */
#footer {
    width: 100%;
    background-color: #405944b2;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#footer div {
    display: inline-block;
}

#footer svg {
    color: #405944;
}

/* CSS EQUIPO */

.imgTamaño {
    height: 20em;
    width: auto;
}

/* CSS SERVICIOS */

.bordesRedondeados {
    border-radius: 12%;
}

/* CSS ARTICULOS */



/* CSS CONTACTO */